<div class="title">Braves Pitch Data</div>

<div class="content-container">
  <h3>Select a component below to view a graph:</h3>
  <nav>
    <a routerLink="/bar-component" routerLinkActive="active">Bar Component</a>
    <a routerLink="/scatter-component" routerLinkActive="active">Scatter Component</a>
    <a routerLink="/density-component" routerLinkActive="active">Density Component</a>
    <a routerLink="/pie-component" routerLinkActive="active">Pie Component</a>
  </nav>

  <router-outlet></router-outlet>
</div>