a {
    margin-right: 20px;
}

.content-container {
    padding: 10px 40px;
}

.title {
    background-color: #23395d;
    color: white;
    padding: 10px 20px;
    height: 40px;
    font-size: 35px;
}